nav {
    background-color: rgb(131, 82, 82);

    padding: 0;
    margin: 0;
    max-width: inherit;

}

nav>ul {
    display: flex;
    justify-content: center;
}

li {
    text-decoration: none;
}

.button {
    text-decoration: none;
    color: rgb(255, 187, 187);
}

li {
    padding: 1em;
    list-style: none;
    margin: 0.5em;
    min-width: 2em;
    text-align: center;
}

.button:hover {
    color: rgb(211, 148, 148);
    cursor: pointer;
}